*.csv
*.RDS
dist/
__pycache__/
*.pyc
scripts/.venv/
scripts/poetry.lock
scripts/uv.lock
scripts/.idea/
scripts/pyproject-old.toml
*.html
*.pdf
*.log
*.Rout
*.png
!net/*.png
*.out
ScriptPackage
.Rproj.user
*.Rproj
.Rhistory
.env
akilimo-api.service
data/*
temp/*
tests/old/*
tests/app/*
tests/request/*
tests/response/*
.claude
.RData
.idea/*